/* start fonts family
font-family: 'Metal Mania', cursive; //en
font-family: 'Amiri', serif; //ar
font-family: 'Merriweather', serif; //en
font-family: 'Pacifico', cursive; //en
*/

/* main colors:

heading: #6a197d

sub heading:#

paragraphas:#fff

*/


:root{
    --main-color:#6a197d
}

*{
    box-sizing: border-box
}
body{
    
    font-family: 'Merriweather', serif; 
	

}
.clearfix{
	clear:both
}
.container{
   /* width: 1117px;*/
    padding-left: 15px;
    padding-right: 15px;
    margin: auto
}
/*start setting box*/
.setting-box{
    position: fixed;
    left:-200px;
    top:0;
    width:200px;
    min-height: 100vh;
    z-index: 10000;
    background-color: #fff; 
    transition: .3s
}

.setting-box .toggle-setting{
    position: absolute;
    right:-30px;
    top:100;
    background-color: #fff;
    text-align: center;
    cursor: pointer
}


.setting-box .toggle-setting .fa-gear{
    width:30px;
    padding: 8px 0;
}

.setting-box.open{
    left:0
}

.setting-box .option-box{
    padding: 10px;
    text-align: center;
    background-color: #eee;
    margin: 10px;
}
.setting-box .option-box h4{
    margin: 0;
    color: #000;
    font-size: 14px;
}
.setting-box .option-box .colors-list{
    list-style: none;
    text-align: center;
    padding: 10px 0 0;
}
.setting-box .option-box .colors-list li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: .5;
    display: inline-block;
    background-color: #333;
    cursor: pointer;
    
}
.setting-box .option-box .colors-list li.active{
    opacity: 1;
    border: 2px solid #fff;
}
.setting-box .option-box .colors-list li:first-child{
    background-color:  #6a197d;
}
.setting-box .option-box .colors-list li:nth-child(2){
    background-color: #e7305b
}
.setting-box .option-box .colors-list li:nth-child(3){
    background-color: #086972
}
.setting-box .option-box .colors-list li:nth-child(4){
    background-color: #ff4301
}
.setting-box .option-box .colors-list li:nth-child(5){
    background-color: #111d5e
}



.setting-box .random-backgrounds .yes,
.setting-box .random-backgrounds .no{
    width: 50px;
    background-color: var(--main-color);
    color: #fff;
    margin-top: 20px;
    display: inline-block;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 4px;
    opacity: .5;
    cursor: pointer
}

.setting-box .random-backgrounds span.active{
    opacity: 1
}

@media(max-width:576px)and(max-width:768){
	
}

.setting-box .bullets-option .yes,
.setting-box .bullets-option .no{
    width: 50px;
    background-color: var(--main-color);
    color: #fff;
    margin-top: 20px;
    display: inline-block;
    font-size: 14px;
    padding: 5px 7px;
    border-radius: 4px;
    opacity: .5;
    cursor: pointer;
	text-align: center
}

.setting-box .bullets-option span.active{
    opacity: 1
}

.setting-box .reset-option{
	background-color: #f44336;
	border:none;
	border-radius: 5px;
	color:#fff;
	width:178px;
	margin: 10px auto;
	display: block;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}
/*end setting box*/

/*start nav bullets*/
.nav-bullets{
	position: fixed;
	right:0;
	top:50%;
	transform: translateY(-50%);
	width:40px;
}

.nav-bullets .bullet{
	width:20px;
	height: 20px;
	border: 3px solid var(--main-color);
	margin: 10px auto;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
	 z-index: 999999 !important ;
	position: relative
}

.nav-bullets .bullet .tooltip{
	background-color: var(--main-color);
	width:120px;
	color:#fff;
	padding: 4px 10px;
	position: absolute;
	right: 35px;
	top:-2px;
	text-align: center;
	 z-index: 999999 !important;
	cursor: default;
	pointer-events: none;
	display: none;
		
}

.nav-bullets .bullet:hover .tooltip{
	display: block
}


.nav-bullets .bullet .tooltip:before{
	content: '';
	border-style: solid;
	border-width:10px;
	border-color: transparent transparent transparent var(--main-color);
	height: 0;
	width: 0;
	position: absolute;
	right:-20px;
	top:4px;
}

/*end nav bullets*/


/* start landing page */
.landing-page{
    
    min-height: 100vh;
    background-image: url(../images/b1.jpg);
    background-size:cover;
    position: relative;
	width: 100%
}



.landing-page .overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
    z-index: 1
	}

@media(max-width:768px){
	.landing-page .overlay{
		   background-color: rgba(0,0,0,.3);

	}
	
}

.landing-page .container{
	position: relative;
	z-index: 1000;
}

.header-area{
    position: relative;
    z-index: 2;
    display: flex;
    padding: 10px
}

.header-area .logo{
    width: 400px;
    padding: 15px;
    font-family: 'Pacifico',cursive;
    font-size:30px;
    color: var(--main-color);
    z-index: 2
}

@media(max-width:768px){
	.header-area .logo{
		z-index: 4;
		color:#f6f6f6;
	}
}

.header-area .links-container{
	
	 width: 100%;
	text-align: right;
}

.header-area .links{
    list-style: none;  
    padding-left: 0;
   
   
}

.header-area .links li{
    display: inline-block;
    margin-left: 10px;
   
    
}

.header-area .links li a{
    text-decoration: none;
    color: #fff;
    transition: .5s
}
.header-area .links li a:hover,
.header-area .links li a.active{
    color:var(--main-color);
    
}


.header-area .toggle-menu{
	background:none;
	border: none;
	width:40px;
	cursor: pointer;
	display: none;
	text-align: right;
	margin-top: 25px;
	position: relative

	
}

.header-area .toggle-menu.menu-active:before{
	content: '';
	border-width: 10px;
	border-style: solid;
	border-color:transparent transparent #fff transparent;
	position: absolute;
	bottom:-5px;
	left:9px
}

.header-area .toggle-menu:focus{
	outline: none
}

.header-area .toggle-menu span{
	display: block;
	background-color: #fff;
	height: 4px;
	margin-bottom: 4px
}


.intro-text {
    position: absolute;
    top:30%;
    left:3%;
	z-index: 3;
	width: 90%
}

.intro-text h1{
    
    color: var(--main-color);
    
}

@media(max-width:768px){
	.intro-text h1{
		color:#f6f6f6;
		text-align: center
	}
	
	.intro-text p{
		text-align: center
	}

}

.intro-text p{
    color:#fff;
    word-spacing: 5px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    
}

.intro-text p span{
    
    color: var(--main-color);
    font-size:30px
}

.intro-text button{
    border:none;
    background:var(--main-color);
    color:#fff;
    font-size:20px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    z-index: 2
        
}

	


@media(max-width:768px){
	.intro-text button{
		text-align: center;
		transform: translate(305px, 10px);
	}

}

@media(max-width:576px){
	.intro-text button{
transform: translate(194px,10px);
}

	}


@media(max-width:991px){
	.header-area .links{
		display: none
	}
	
	.header-area .links.open{
		background-color: rgba(255,255,255,.8);
		padding: 10px;
		display: block;
		position: absolute;
		left:0;
		top:50px;
		width:100%;
		text-align: center;
		border-radius: 4px;
		
	}
	.header-area .links.open li{
		display: block;
		margin: 20px;
		cursor: pointer
	}
	.header-area .links.open li a{
		font-weight: bold;
		color: var(--main-color);
	}
			
	.header-area .toggle-menu{
		display: inline-block
	}

	
}


/* end landing page */


/* start about us*/

.about-us{
    padding-top: 50px;
    padding-bottom: 50px;
    display:flex
}
@media(max-width:768px){
	.about-us{
		display: block;
		text-align: center
	}
	
	
}
.about-us .info-box{
    flex:1;
   
}

.about-us .info-box h2{
    font-weight: bold;
    text-transform: capitalize;
    color:var(--main-color);
    font-size: 30px;
    margin: 0 0 10px 0
    
}

.about-us .info-box p{
    line-height:1.8em;
    color:#777;
    margin: 0;
    padding: 10px;
}


.about-us .image-box{
    flex:1;
    text-align: center
}
.about-us .image-box img{
    
    
}
/* end about us*/


/* start our skills*/

.skills{
     padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}

.skills h2{
    font-weight: bold;
    text-transform: capitalize;
    color:var(--main-color);
    font-size: 30px;
    margin: 0 0 50px 0;
    text-align: center
}

.skills .skill-box{
    background-color: #fff;
    display: flex;
    padding-bottom: 15px;
    margin: 15px;
	text-align: center
}

.skills .skill-box .skill-name{
    font-weight: bold;
    width: 100px;
    text-align: center;
    line-height: 30px;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

.skills .skill-box .skill-progress{
    height: 30px;
    width:85%;
    background-color:#f6f6f6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
	margin-top: 15px;
	
	

}

.skills .skill-box .skill-progress span{
    position: absolute;
    left:0;
    top:0;
    width:0;
    height: 100%;
    background-color: var(--main-color);
	transition: all .5s;
}

@media(max-width:767px){
	.skills .skill-box .skill-progress{
		width: 85%
	}

}
@media(max-width:576px){
	.skills .skill-box .skill-name{
     transform: translate(207px,10px);
	margin-bottom: 5px
	}
	
	.skills .skill-box .skill-progress{
		margin-top: 50px;
		transform: translate(-34px,3px)
	}
}
/* start our skills*/


/*start  my project*/


.gallary{
	padding-top: 50px;
    padding-bottom: 50px;
}


.gallary h2{
	font-weight: bold;
    text-transform: capitalize;
    color:var(--main-color);
    font-size: 30px;
    margin: 0 0 50px 0;
    text-align: center
}

.gallary .image-box{
	text-align: center
}

.gallary .image-box img{
	width:45%;
	padding: 3px;
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	margin: 5px;;
	cursor: pointer;
}



.popup-overlay{
	position: fixed;
	top:0;
	left:0;
	background-color: rgba(0,0,0,.7);
	width: 100%;
	height: 100%;
	z-index: 20000;
}

.popup-box{
	position: fixed;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	border:1px solid #ccc;
	padding: 20px;
	z-index: 20001
}
.popup-box h3{
	text-align: center;
	font-weight: bold;
	text-transform: capitalize;
	margin: 0 0 20px;
	color:var(--main-color);
}
.popup-box img{
	max-width: 100%
}

.close-button{
	position: absolute;
	top:-15px;
	right: -15px;
	background-color: var(--main-color);
	width: 40px;
	height: 40px;
	line-height: 40px;
	color:#fff;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	border-radius: 50%
}
/*end  my project*/


/*start timeline*/

.timeline{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #eae1e1;
}

.timeline h2{
	
	font-weight: bold;
    text-transform: capitalize;
    color:var(--main-color);
    font-size: 30px;
    margin: 0 0 50px 0;
    text-align: center
}
	


.timeline .timeline-content{
	position: relative;
	overflow: hidden
}
.timeline .timeline-content:before{
	content: '';
	width: 2px;
	height: 100%;
	background-color: var(--main-color);
	position: absolute;
	left:50%;
	margin-left: -1px;
	top:0
}
.timeline .timeline-content .year{
	margin: 20px auto;
	width: 50px;
	background-color: var(--main-color);
	position: relative;
	z-index: 2;
	border-radius: 4px;
	text-align: center;
	color:#fff;
	padding: 2px 5px;
	font-weight: bold;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right{
	width: calc(50%-25px);
	margin-bottom: 40px;
	position: relative
}

.timeline .timeline-content .left{
	float: left
}

.timeline .timeline-content .left:before{
	content:'';
	width: 14px;
	height: 14px;
	background-color: #fff;
	border:3px solid var(--main-color);
	position: absolute;
	right:-124px;
	border-radius: 50%;
	top:20px
}

.timeline .timeline-content .right{
	float:right
}

.timeline .timeline-content .right:before{
	content:'';
	width: 14px;
	height: 14px;
	background-color: #fff;
	border:3px solid var(--main-color);
	position: absolute;
	left:-124px;
	border-radius: 50%;
	top:20px
}

@media(max-width:1024px){
	.timeline .timeline-content .left:before{
		right:-67px
	}
	
	.timeline .timeline-content .right:before{
		
		left:-67px
	}


}
.timeline .timeline-content .content{
	padding: 20px;
	background-color: #fff;
	
}

.timeline .timeline-content .content h3{
	font-weight: bold;
	color:var(--main-color);
	margin: 0 0 10px;
	text-align: center
}

.timeline .timeline-content .content img{
	width: 400px;
	height: 400px
}


.timeline .timeline-content .left .content:before{
	content: '';
	border-style: solid;
	border-width:10px;
	border-color: transparent transparent transparent #fff;
	height: 0;
	width: 0;
	position: absolute;
	right:-20px;
	top:20px;
}

.timeline .timeline-content .right .content:before{
	content: '';
	border-style: solid;
	border-width:10px;
	border-color: transparent #fff transparent transparent;
	height: 0;
	width: 0;
	position: absolute;
	left:-20px;
	top:20px;
}


@media(max-width:768px){
	
	.timeline .timeline-content .left,
	.timeline .timeline-content .right{
		float:none;
		width:500px;
		height: 500px;
		justify-content: center;
		text-align: center
	}
	
	.timeline .timeline-content .content{
		transform: translate(112px, 10px);
	}
	
	.timeline .timeline-content .left:before,
	.timeline .timeline-content .right:before{
		
		display: none
	}
	
	.timeline .timeline-content .left .content:before,
	.timeline .timeline-content .right .content:before{
		display: none
	}
}

@media(max-width:576px){
	.timeline .timeline-content .content{
		transform: translate(92px,15px)
	}
	
	.timeline .timeline-content .left,
	.timeline .timeline-content .right{
		width: 350px;
		height: 350px
	}
	
	.timeline .timeline-content .left img,
	.timeline .timeline-content .right img{
		width: 90%;
		height: 90%
	}
	
}
/*end timeline*/




/*start features */

.features{
	padding-top: 50px;
	padding-bottom: 50px;
}

.features h2{
	font-weight: bold;
    text-transform: capitalize;
    color:var(--main-color);
    font-size: 30px;
    margin: 0 0 50px 0;
    text-align: center
}

.features .feat-box{
	width:calc(100%/3);
	float:left;
	text-align: center;
	margin-bottom: 40px;
	
}

.features .feat-box img{
	width: 150px;
	height: 150px;
	border-radius: 10px;
	
}

.features .feat-box h4{
	font-size: 22px;
	color:var(--main-color);
	font-weight: bold;
	margin: 15px 0 20px;
	position: relative;
}

.features .feat-box h4:before{
	content:'';
	width:40px;
	height: 4px;
	background-color: var(--main-color);
	position: absolute;
	left:50%;
	margin-left: -20px;
	bottom: -10px;
}

.features .feat-box p{
	width:80%;
	margin: 0 auto;
	line-height: 1.6;
	color:#4c4747;
}

@media(max-width:768px){
	.features .feat-box{
		width:100%
	}
}

/*end features */

/*start testimonials */
.testimonials{
    min-height: 700px;
	position: relative;
	padding-bottom: 80px;
	padding-top: 80px
}

.testimonials:before{
	content:'';
	width:50%;
	height: 100%;
	position: absolute;
	left:0;
	top:0;
	background-color: var(--main-color);
}

.testimonials:after{
	content:'';
	width:50%;
	height: 100%;
	position: absolute;
	right:0;
	top:0;
	background-color: #000;
}
.testimonials h2{
	font-weight: bold;
    text-transform: capitalize;
    color:#fff;
    font-size: 30px;
    margin: 0 0 50px 0;
    text-align: center;
	z-index: 3;
	position: relative;
}

.testimonials .ts-box{
	z-index: 3;
	position: relative;
	width:calc(96%/3);
	padding: 20px;
	margin-right: 1%;
	background-color: #fff;
	float:left;
	margin-bottom: 10px;
}


.testimonials .ts-box>p{
	margin: 0 0 20px;
	line-height: 1.5;
	font-size: 18px;
	color: #707070;
	font-style: italic
}


.testimonials .ts-box .person-info {
	overflow: hidden
}

.testimonials .ts-box .person-info img{
	
	float:left;
	border-radius: 50%;
	margin-right: 10px;
}


.testimonials .ts-box .person-info h4{
	
	margin: 14px 0 5px;
	color:var(--main-color);
}

.testimonials .ts-box .person-info p{
	margin: 0;
	color: #707070;
}

@media(max-width:768px){
	.testimonials .ts-box{
		width: calc(96%/2)
	}
}

@media(max-width:576px){
	.testimonials .ts-box{
		width: 96%
	}
	
	.testimonials .ts-box .person-info h4{
		margin: 36px 0 5px;
	}
}

/*end testimonials */

/* start contact us*/

.contact-us{
	min-height: 600px;
	background-image: url(../images/wwmap.png);
	background-size: cover;
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
}

.contact-us .overlay{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height: 100%;
	background-color: rgba(255,255,255,.9);
}

.contact-us .container{
	position: relative;
	z-index: 2
}


.contact-us h2{
	font-weight: bold;
    text-transform: capitalize;
    color:var(--main-color);
    font-size: 30px;
    margin: 0 0 50px 0;
    text-align: center;
	position: relative
}


.contact-us .left form{
	overflow: hidden;
	max-width: 90%;
	margin: auto;
	height: 90%;
}

.contact-us .left form{
	float:left;
	width:49%;
	
		
}

.contact-us  .left form input:not([type="submit"]),
.contact-us  .left form textarea
{
	
	display: block;
	padding: 10px;
	width: 100%;
	margin-bottom: 15px;
	border:1px solid #ccc;
	background-color: rgba(218,218,218,.19)
	
}

.contact-us  .left form input:not([type="submit"]):focus,
.contact-us  .left form textarea:focus
{
	
	outline:1px solid var(--main-color);
}

.contact-us  .left form input:not([type="submit"]):focus::-webkit-input-placeholder,
.contact-us  .left form textarea:focus::-webkit-input-placeholder{
	
	opacity: 0;
	transition: .3s
}

.contact-us  .left form input{
	height: 40px
}


.contact-us  .left form textarea{
	height: 200px;
}

.contact-us  .left form input[type="submit"]{
	
	width: 100%;
	padding: 10px;
	border-color: transparent;
	background-color: var(--main-color);
	color: #fff;
	cursor: pointer
}


.contact-us .map-title .right{
	
	float:right;
	width:49%;
	height: 90%;
	position: relative
}


.contact-us .map-title .right iframe{
	width:100%;
	height: 420px;
	border: 1px solid #ccc;
	border-radius: 5px
}


.contact-us .map-title .right span{
	
	position: absolute;
	right:0;
	bottom:0;
	left:0;
	background-color: rgba(0,0,0,.7);
	color: #fff;
	text-align: center;
	padding: 20px;
	font-size: 20px;
	transition: all .5s;
	border-radius: 4px;
	
}

@media(max-width:576px){
	.contact-us .left form,
	.contact-us .map-title .right{

	   float:none;
		width: 98%;
		margin-bottom: 15px
		}
	.map-title{
		width: 500px;
		height: 400px;
		margin-left: 27px
	}
	
	.contact-us .map-title .right span{
		bottom:-58px
	}
	
}
/* start contact us*/


/*start footer*/
.footer{
	background-color: #333
}
.footer .social-media{
	width: 90%;
	text-align: center
}

.footer .social-media a img{
	width: 40px;
	height: 40px;
	margin: 10px;
	transform: translate(45px,10px)
	
}

.footer .copyright{
	text-align: center;
	color: whitesmoke;
	text-transform: capitalize;
	padding: 10px;
	
}

/*end footer*/

/* grid system */

@media(min-width:992px){         /* pc devices  => desktops*/
	.container{
		max-width: 960px;
	}
}





@media(min-width:1000px){         /* large screen devices*/
	.container{
		max-width: 1140px;
	}
	
	/*background waves*/

.wavy-background{
   position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.wavy-background .wave{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100px;
    background: url(../images/wave.png);
    background-size: 1000px 100px;
}

.wavy-background .wave.wave1{
    animation:animate 30s linear infinite;
    z-index: 1000;
    opacity:1;
    animation-delay: 0s;
    bottom:0
}

@keyframes animate{
    
    0%{
        background-position-X:0;
    }
    100%{
        background-position-x:1000px;
    }
}

.wavy-background .wave.wave2{
    animation:animate2 15s linear infinite;
    z-index: 9;
    opacity:.5;
    animation-delay: -5s;
    bottom:10px;
}

@keyframes animate2{
    
    0%{
        background-position-X:0;
    }
    100%{
        background-position-x:-1000px;
    }
}

.wavy-background .wave.wave3{
    animation:animate3 30s linear infinite;
    z-index: 7;
    opacity:.2;
    animation-delay: -2s;
    bottom:15px;
}

@keyframes animate3{
    
    0%{
        background-position-X:0;
    }
    100%{
        background-position-x:-1000px;
    }
}

.wavy-background .wave.wave4{
    animation:animate4 15s linear infinite;
    z-index: 8;
    opacity:.4;
    animation-delay: -5s;
    bottom:20px;
}

@keyframes animate4{
    
    0%{
        background-position-X:0;
    }
    100%{
        background-position-x:-1000px;
    }
}
	.landing-page .overlay{
		
		display: none
	}

}



/* end grid system*/





